@model Movie

<h1><b style="color:darkgreen">@Model.Title</b> has been successfully registered!</h1>
<br />
<p>Movie ID: @Model.ID</p>
<p>Title : <b style="color:blue">@Model.Title</b></p>
<p>Genre : <b style="background-color:yellow">@Model.Genre</b></p>
<p>Year : @Model.Year</p>
<p>Actors: @Model.Actors</p>
<p>Director: @Model.Director</p>


